#add-patient-header h3 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

.add-patient-form {
  margin: 0.5rem auto;
  width: 80%;
  max-width: 60rem;
  border-radius: 8px;
  background-color: white;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  height: 33rem;
}

#add-appointment-header h3 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

#add-appointment-form {
  margin: 0.5rem auto;
  width: 80%;
  max-width: 60rem;
  border-radius: 8px;
  background-color: white;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  height: 33rem;
}

.edit-patient-form {
  margin: 0.5rem auto;
  width: 80%;
  max-width: 60rem;
  border-radius: 8px;
  background-color: white;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  height: 30.5rem;
}

#edit-patient-medical-form {
  margin: 0.5rem auto;
  width: 80%;
  max-width: 60rem;
  border-radius: 8px;
  background-color: white;
  padding: 2rem 10rem 0rem 10rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  height: 30.5rem;
}

#edit-patient-dental-form {
  margin: 0.5rem auto;
  width: 80%;
  max-width: 60rem;
  border-radius: 8px;
  background-color: white;
  padding: 2rem 5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  height: 30.5rem;
}

#appointment-form {
  margin: 0.5rem auto;
  width: 80%;
  max-width: 60rem;
  border-radius: 8px;
  background-color: white;
  padding: 1.5rem 5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  height: 23rem;
}

#appointment-list label {
    font-weight: bold;
}

#main-table-title {
  margin: 1rem 0rem 1rem 3rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 7rem 21rem 9rem 23rem;
  margin-left: 2rem;
  margin-top: 1rem;
}

#medical-history-table tbody {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

#medical-history-table label {
    width: 12rem;
}

#medical-history-table tr {
    padding-right: 5rem;
}

#medical-history-table td {
    padding-right: 6rem;
    padding-left: 1rem;
}

#dental-history-table tbody {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

#dental-history-table label {
    width: 12rem;
}

#dental-history-table tr {
    margin-right: 4rem;
    margin-bottom: 0.3rem;
}

#dental-history-table label {
    width: 20rem;
}

textarea {
    width: 204%;
    height: 95%;
    resize: none;
}

#patient-table {
    border-collapse: collapse;
    margin-left: 3rem;
}

#patient-table td, #patient-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#patient-table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#patient-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#patient-table tr:hover {
    background-color: #ddd;
}

#patient-table th {
  text-align: left;
  background-color: #00008b;
  color: white;
}

#id-header {
    width: 4rem;
}

#name-header {
    width: 15rem;
}

#address-header {
    width: 15rem;
}

#email-header {
    width: 15rem;
}

#phone-header {
    width: 10rem;
}

#mobile-header {
    width: 10rem;
}

#amka-header {
    width: 10rem;
}

#date-of-birth-header {
    width: 10rem;
}

td {
    padding-right: 50px;
}

.save-button {
    width: 15rem;
    margin-right: 8rem;
    border-radius: 6px;
}

.save-button:hover,
save-button:active {
  background-color: #4040a8;
  border-color: #4040a8;
}

#clear-button {
    width: 15rem;
    border-radius: 6px;
}

.delete-button {
    width: 15rem;
    margin-right: 1rem;
    border-radius: 6px;
}

.delete-button:hover,
delete-button:active {
  background-color: #4040a8;
  border-color: #4040a8;
}

.add-form-button {
    text-align: center;
}

.reset-button {
  cursor: pointer;
  background-color: #00008b;
  border: 1px solid #00008b;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  width: 15rem;
  margin-right: 1rem;
}

.reset-button:hover,
reset-button:active {
  background-color: #4040a8;
  border-color: #4040a8;
}

#new-appointment-button {
    position: inherit;
    margin: 0;
    margin-top: 4rem;
}

#edit-appointment-button {
    position: inherit;
    margin: 0;
    margin-top: 4rem;
}

#modal-save-button {
    background-color: #00008b;
    border: 1px solid #00008b;
}

#modal-save-button:hover,
modal-save-button:active {
  background-color: #4040a8;
  border-color: #4040a8;
}

#save-appointment-button {
    width: 15rem;
    border-radius: 6px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: underline;
}

.navbar {
    padding: 0px;
}

.id_date_of_birth-general {
    width: 56%;
}

.id_date_of_birth-edit {
    width: 56%;
}

#search-bar {
    width: 20rem;
}

#navbarSupportedContent {
    margin-top: 5rem;
}