.add-patient-form {
  margin: 3rem auto;
  width: 80%;
  max-width: 45rem;
  border-radius: 8px;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  height: 30rem;
}

#main-table {
  border: 1px solid;
}

.grid-container {
  display: grid;
  grid-template-columns: 7rem 13rem 9rem 15.5rem;
  margin-left: 45px;
}

textarea {
    width: 200%;
    height: 95%;
    resize: none;
}

#patient-table {
    border-collapse: collapse;
}

#patient-table td, #patient-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#patient-table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#patient-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#patient-table tr:hover {
    background-color: #ddd;
}

#patient-table th {
  text-align: left;
  background-color: #00008b;
  color: white;
}

#id-header {
    width: 4rem;
}

#name-header {
    width: 15rem;
}

#address-header {
    width: 15rem;
}

#email-header {
    width: 15rem;
}

#phone-header {
    width: 10rem;
}

#mobile-header {
    width: 10rem;
}

#amka-header {
    width: 10rem;
}

#date-of-birth-header {
    width: 10rem;
}

td {
    padding-right: 50px;
}

#save-button {
    width: 35%;
    margin-right: 7rem;
}

#clear-button {
    width: 35%;
}

#delete-button {
    width: 35%;
    margin-right: 1rem;
}

#add-form-buttons {
    text-align: center;
}

#reset-button {
  cursor: pointer;
  background-color: #00008b;
  border: 1px solid #00008b;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  width: 35%;
  margin-right: 1rem;
}

#reset-button:hover,
reset-button:active {
  background-color: #4040a8;
  border-color: #4040a8;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

#id_date_of_birth {
    width: 56%;
}

#search-bar {
    width: 20rem;
}