body {
  font-family: sans-serif;
}

form {
  margin: 3rem auto;
  width: 80%;
  max-width: 45rem;
  border-radius: 8px;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  height: 30rem;
}

button {
  cursor: pointer;
  background-color: #5c002e;
  border: 1px solid #5c002e;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
}

button:hover,
button:active {
  background-color: #830443;
  border-color: #830443;
}

#main-table {
  border: 1px solid;
}

.grid-container {
  display: grid;
  grid-template-columns: 110px 250px 110px 250px;
}

textarea {
    width: 220%;
    height: 95%;
    resize: none;
}

input {
    width: 75%;
}

table, th, td {
  border: 1px solid;
}

td {
    padding-right: 50px;
}

#save-button {
    width: 35%;
    margin-right: 5rem;
}

#clear-button {
    width: 35%;
}

#add-form-buttons {
    text-align: center;
}

#reset-button {
  cursor: pointer;
  background-color: #5c002e;
  border: 1px solid #5c002e;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  width: 35%;
}

#reset-button:hover,
reset-button:active {
  background-color: #830443;
  border-color: #830443;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}