body {
  font-family: sans-serif;
  background: #cccce8;
}

button {
  cursor: pointer;
  background-color: #00008B;
  border: 1px solid #00008B;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
}

btn:hover,
btn:active {
  background-color: #4040a8;
  border-color: #4040a8;
}

#logo {
    margin-left: 1rem;
    margin-right: 1rem;
    background: #00008B;
    padding: 1rem;
}

.container-fluid {
    background: #00008B;
}

.d-flex {
    margin-right: 2rem;
}

.nav-item {
    margin-right: 1rem;
}