{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new patient</title>
    <link rel="stylesheet" href="{% static 'patient_management/styles.css' %}">
</head>
<body>

    <div>
        <nav>
            <button type="submit" name="main-page" onclick="location.href='{% url 'main' %}'">Main page</button>
        </nav>
    </div>

    <form action="/add-patient/" method="POST">
        {% csrf_token %}
        <h3>Add patient form</h3>

            <div class="grid-container">
                <div class="grid-item"><p><label for="id_last_name">Last Name:</label></p></div>
                <div class="grid-item"><p>{{ form.last_name }}</p></div>
                <div class="grid-item"><p><label for="id_first_name">First Name:</label></p></div>
                <div class="grid-item"><p>{{ form.first_name }}</p></div>
                <div class="grid-item"><p><label for="id_address">Address:</label></p></div>
                <div class="grid-item"><p>{{ form.address }}</p></div>
                <div class="grid-item"><p><label for="id_email">Email:</label></p></div>
                <div class="grid-item"><p>{{ form.email }}</p></div>
                <div class="grid-item"><p><label for="id_phone">Phone:</label></p></div>
                <div class="grid-item"><p>{{ form.phone }}</p></div>
                <div class="grid-item"><p><label for="id_last_name">Mobile phone:</label></p></div>
                <div class="grid-item"><p>{{ form.mobile_phone }}</p></div>
                <div class="grid-item"><p><label for="id_amka">AMKA:</label></p></div>
                <div class="grid-item"><p>{{ form.amka }}</p></div>
                <div class="grid-item"><p><label for="id_date_of_birth">Date of Birth:</label></p></div>
                <div class="grid-item"><p>{% render_field form.date_of_birth type="date" placeholder="dd/mm/yyyy" %}</p></div>
                <div class="grid-item"><p><label for="id_notes">Notes:</label></p></div>
                <div class="grid-item"><p>{{ form.notes }}</p></div>
            </div>

        <br>
        <div id="add-form-buttons">
            <button type="submit" name="save" id="save-button">Save</button>
            <input type="reset" name="clear" id="reset-button" value="Reset">
        </div>
    </form>

</body>
</html>