{% extends "base.html" %}
{% load static %}

{% block title %}
    My Dental Assistant
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'patient_management/styles.css' %}">
{% endblock %}

{% block content %}

    <a class="btn-month btn-info left" href="{% url 'calendar' %}?{{ prev_month }}"> Previous Month </a>
	<a class="btn-month btn-info right" href="{% url 'calendar' %}?{{ next_month }}"> Next Month </a>

    <div id="appointment-calendar">
        {{ calendar }}
    </div>

{% endblock %}