{% extends "base.html" %}
{% load static %}

{% block title %}
    My Dental Assistant
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'patient_management/styles.css' %}">
{% endblock %}

{% block content %}

    <div>
        <nav>
            <button type="submit" name="add-new-patient" onclick="location.href='{% url 'add-patient' %}'">Add new patient</button>
            <div>
                <form action="" method="GET">
                    <input name="search" type="text" id="search-bar" placeholder="Search patient...">
                    <button type="submit" onclick="">Search</button>
                </form>
            </div>
        </nav>
    </div>

    <div>
        <h2>My Patients</h2>

        <table id="patient-table">
            <tr>
                <th id="id-header">ID</th>
                <th id="name-header">Full Name</th>
                <th id="address-header">Address</th>
                <th id="email-header">Email</th>
                <th id="phone-header">Phone</th>
                <th id="mobile-header">Mobile Phone</th>
                <th id="amka-header">AMKA</th>
                <th id="date-of-birth-header">Date of birth</th>
            </tr>
            {% for patient in filtered_patients %}
            <tr>
                <td> {{ patient.id }} </td>
                <td> <a href="{% url 'edit-patient' patient_id=patient.id %}" class="row-link">{{ patient.last_name }} {{ patient.first_name }}</a></td>
                <td> {{ patient.address }} </td>
                <td> {{ patient.email }} </td>
                <td> {{ patient.phone }} </td>
                <td> {{ patient.mobile_phone }} </td>
                <td> {{ patient.amka }} </td>
                <td> {{ patient.date_of_birth }} </td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}