{% extends "base.html" %}
{% load static %}

{% block title %}
    My Dental Assistant
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'patient_management/styles.css' %}">
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
    {% csrf_token %}

    <div>
        <table id="patient-table">
            <tbody>
            <div id="main-table-title" style="margin-left: 16rem;">
                <h3>My Patients</h3>
            </div>
            <tr>
                <th id="id-header">ID</th>
                <th id="name-header">Full Name</th>
                <th id="address-header">Address</th>
                <th id="email-header">Email</th>
                <th id="phone-header">Phone</th>
                <th id="mobile-header">Mobile Phone</th>
                <th id="amka-header">AMKA</th>
                <th id="date-of-birth-header">Date of birth</th>
            </tr>
            {% for patient in filtered_patients %}
            <tr>
                <td> {{ patient.id }} </td>
                <td> <a href="{% url 'patient-details' patient_id=patient.id %}" class="row-link">{{ patient.last_name }} {{ patient.first_name }}</a></td>
                <td> {{ patient.address }} </td>
                <td> {{ patient.email }} </td>
                <td> {{ patient.phone }} </td>
                <td> {{ patient.mobile_phone }} </td>
                <td> {{ patient.amka }} </td>
                <td> {{ patient.date_of_birth }} </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% else %}

    <div class="login-promt">
        <body id="login-prompt-body">
            <form action="/login/">
                {% csrf_token %}
                <p class="login-prompt-message">You are not logged in</p>
                <button type="submit" name="login" class="btn btn-outline-primary" onclick="location.href='{% url 'login' %}'">Login</button>
            </form>
        </body>
    </div>

    {% endif %}

{% endblock %}