{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="{% static "patient_management/styles.css" %}">
</head>
<body>

<div>
    <nav>
        <button type="submit" name="add-new-patient" onclick="location.href='{% url 'add-patient' %}'">Add new patient</button>
    </nav>
</div>

<div>
    <h2>My Patients</h2>

    <table>
        <tr>
            <th>Full Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Mobile Phone</th>
            <th>AMKA</th>
            <th>Date of birth</th>
        </tr>
        {% for patient in all_patients %}
        <tr>
            <td> {{ patient.last_name }} {{ patient.first_name }}</td>
            <td> {{ patient.address }} </td>
            <td> {{ patient.email }} </td>
            <td> {{ patient.phone }} </td>
            <td> {{ patient.mobile_phone }} </td>
            <td> {{ patient.amka }} </td>
            <td> {{ patient.date_of_birth }} </td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>