{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Edit Patient
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'patient_management/styles.css' %}">
{% endblock %}

{% block content %}

    <nav id="patient-detail-tabs">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-general-info-tab" data-bs-toggle="tab" data-bs-target="#nav-general-info" type="button" role="tab" aria-controls="nav-general-info" aria-selected="true">General Info</button>
        <button class="nav-link" id="nav-edit-info-tab" data-bs-toggle="tab" data-bs-target="#nav-edit-info" type="button" role="tab" aria-controls="nav-edit-info" aria-selected="true">Edit Info</button>
        <button class="nav-link" id="nav-medical-tab" data-bs-toggle="tab" data-bs-target="#nav-medical" type="button" role="tab" aria-controls="nav-medical" aria-selected="false">Medical History</button>
        <button class="nav-link" id="nav-dental-tab" data-bs-toggle="tab" data-bs-target="#nav-dental" type="button" role="tab" aria-controls="nav-dental" aria-selected="false">Dental History</button>
        <button class="nav-link" id="nav-appointments-tab" data-bs-toggle="tab" data-bs-target="#nav-appointments" type="button" role="tab" aria-controls="nav-appointments" aria-selected="false">Appointments</button>
        <button class="nav-link" id="nav-odontogram-tab" data-bs-toggle="tab" data-bs-target="#nav-odontogram" type="button" role="tab" aria-controls="nav-odontogram" aria-selected="false">Odontogram</button>
        <button class="nav-link" id="nav-periodontogram-tab" data-bs-toggle="tab" data-bs-target="#nav-periodontogram" type="button" role="tab" aria-controls="nav-periodontogram" aria-selected="false">Periodontogram</button>
        <button class="nav-link" id="nav-treatment-plan-tab" data-bs-toggle="tab" data-bs-target="#nav-treatment-plan" type="button" role="tab" aria-controls="nav-treatment-plan" aria-selected="false">Treatment Plan</button>
        <button class="nav-link" id="nav-financial-tab" data-bs-toggle="tab" data-bs-target="#nav-financial" type="button" role="tab" aria-controls="nav-financial" aria-selected="false">Financial</button>
        <button class="nav-link" id="nav-datafiles-tab" data-bs-toggle="tab" data-bs-target="#nav-datafiles" type="button" role="tab" aria-controls="nav-datafiles" aria-selected="false">Datafiles</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-general-info" role="tabpanel" aria-labelledby="nav-general-info-tab">
        <form class="edit-patient-form" action="" method="POST">
            {% csrf_token %}
            <div class="grid-container">
                <div class="grid-item"><p><label>Last Name:</label></p></div>
                <div class="grid-item"><p>{{ patient.last_name }}</p></div>
                <div class="grid-item"><p><label>First Name:</label></p></div>
                <div class="grid-item"><p>{{ patient.first_name }}</p></div>
                <div class="grid-item"><p><label>Address:</label></p></div>
                <div class="grid-item"><p>{{ patient.address }}</p></div>
                <div class="grid-item"><p><label>Email:</label></p></div>
                <div class="grid-item"><p>{{ patient.email }}</p></div>
                <div class="grid-item"><p><label>Phone:</label></p></div>
                <div class="grid-item"><p>{{ patient.phone }}</p></div>
                <div class="grid-item"><p><label>Mobile phone:</label></p></div>
                <div class="grid-item"><p>{{ patient.mobile_phone }}</p></div>
                <div class="grid-item"><p><label>AMKA:</label></p></div>
                <div class="grid-item"><p>{{ patient.amka }}</p></div>
                <div class="grid-item"><p><label>Date of Birth:</label></p></div>
                <div class="grid-item" id="date-of-birth-general"><p>{{ patient.date_of_birth }}</p></div>
            </div>
            <div class="add-form-button">
                <button type="button" id="new-appointment-button" class="save-button" data-bs-toggle="modal" data-bs-target="#newAppointmentModal">New Appointment</button>
                <button type="button" id="new-treatment-plan-button" class="save-button" data-bs-toggle="modal" data-bs-target="#newTreatmentPlanModal">New Treatment Plan</button>
            </div>
        </form>
      </div>
      <div class="modal fade" id="newAppointmentModal" tabindex="-1" aria-labelledby="newAppointmentModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <form class="appointments-form" action="" method="POST">
                  {% csrf_token %}
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="newAppointmentModalLabel">Add New Appointment</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div>
                        <div><label>Date:</label>&nbsp;&nbsp;{% render_field appointment_form.appointment_date type="date" placeholder="dd/mm/yyyy" %}</div>
                        <p></p>
                        <div><label>Time:</label>&nbsp;&nbsp;{% render_field appointment_form.appointment_time type="time" %}</div>
                        <p></p>
                        <div><p><label>Header:</label></p></div>
                        <div>{{ appointment_form.appointment_header }}</div>
                        <br>
                        <div><p><label>Notes:</label></p></div>
                        <div class="appointment-textarea">{{ appointment_form.notes }}</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" name="clear-appointment">Close</button>
                        <button type="submit" id="appointment-modal-save-button" class="btn btn-primary" name="save-appointment">Save</button>
                    </div>
                  </div>
              </form>
            </div>
          </div>
      </div>
      <div class="modal fade" id="newTreatmentPlanModal" tabindex="-1" aria-labelledby="newTreatmentPlanModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <form class="appointments-form" action="" method="POST">
                  {% csrf_token %}
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="newTreatmentPlanModalLabel">Add New Treatment Plan</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div>
                        <div><label>Start Date:</label>&nbsp;&nbsp;{% render_field treatment_plan_form.treatment_plan_start_date type="date" placeholder="dd/mm/yyyy" %}</div>
                        <p></p>
                        <div><p><label>Description:</label></p></div>
                        <div id="treatment-plan-description">{{ treatment_plan_form.treatment_plan_description }}</div>
                        <p></p>
                        <div><p><label>Notes:</label></p></div>
                        <div class="treatment-plan-textarea">{{ treatment_plan_form.treatment_plan_notes }}</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" name="clear-treatment-plan">Close</button>
                        <button type="submit" id="treatment-plan-modal-save-button" class="btn btn-primary" name="save-treatment-plan">Save</button>
                    </div>
                  </div>
              </form>
            </div>
          </div>
      </div>
      <div class="tab-pane fade" id="nav-edit-info" role="tabpanel" aria-labelledby="nav-edit-info-tab">
          <form class="edit-patient-form" action="" method="POST">
            {% csrf_token %}
            <div class="grid-container">
                <div class="grid-item"><p><label>Last Name:</label></p></div>
                <div class="grid-item"><p>{{ form.last_name }}</p></div>
                <div class="grid-item"><p><label>First Name:</label></p></div>
                <div class="grid-item"><p>{{ form.first_name }}</p></div>
                <div class="grid-item"><p><label>Address:</label></p></div>
                <div class="grid-item"><p>{{ form.address }}</p></div>
                <div class="grid-item"><p><label>Email:</label></p></div>
                <div class="grid-item"><p>{{ form.email }}</p></div>
                <div class="grid-item"><p><label>Phone:</label></p></div>
                <div class="grid-item"><p>{{ form.phone }}</p></div>
                <div class="grid-item"><p><label>Mobile phone:</label></p></div>
                <div class="grid-item"><p>{{ form.mobile_phone }}</p></div>
                <div class="grid-item"><p><label>AMKA:</label></p></div>
                <div class="grid-item"><p>{{ form.amka }}</p></div>
                <div class="grid-item"><p><label>Date of Birth:</label></p></div>
                <div class="grid-item" id="date-of-birth-edit"><p>{% render_field form.date_of_birth type="date" placeholder="dd/mm/yyyy" %}</p></div>
                <div class="grid-item"><p><label>Notes:</label></p></div>
                <div class="grid-item"><p>{{ form.notes }}</p></div>
            </div>
            <br>
            <div class="add-form-button">
                <button type="submit" name="save" class="save-button">Save</button>
                <button type="submit" name="delete" class="delete-button" onclick="return confirm('Are you sure you want to delete this patient?');">Delete</button>
            </div>
          </form>
      </div>
      <div class="tab-pane fade" id="nav-medical" role="tabpanel" aria-labelledby="nav-medical-tab">
          <form id="edit-patient-medical-form" action="" method="POST">
            {% csrf_token %}
            <table id="medical-history-table">
                <tbody>
                  {{ medical_form.as_table }}
                </tbody>
            </table>
            <br>
            <br>
            <br>
            <div class="add-form-button">
                <button type="submit" name="save-medical" class="save-button">Save</button>
                <button type="submit" name="clear-medical" class="reset-button" onclick="return confirm('Are you sure you want to clear the medical history tab?');">Reset</button>
            </div>
          </form>
      </div>
      <div class="tab-pane fade" id="nav-dental" role="tabpanel" aria-labelledby="nav-dental-tab">
          <form id="edit-patient-dental-form" action="" method="POST">
            {% csrf_token %}
            <table id="dental-history-table">
              <tbody>
                {{ dental_form.as_table }}
              </tbody>
            </table>
            <br>
            <br>
            <br>
            <div class="add-form-button">
                <button type="submit" name="save-dental" class="save-button">Save</button>
                <button type="submit" name="clear-dental" class="reset-button" onclick="return confirm('Are you sure you want to clear the dental history tab?');">Reset</button>
            </div>
          </form>
      </div>
      <div class="tab-pane fade" id="nav-appointments" role="tabpanel" aria-labelledby="nav-appointments-tab">
        {% for appointment_form in appointments_form_list %}
          <form id="appointment-form" action="" method="POST">
            {% csrf_token %}
            <div id="appointment-list">
                <input type='hidden' value='{{ appointment_form.auto_id }}' name='id'>
                <div><label>Date:</label>&nbsp;&nbsp;{{ appointment_form.appointment_date.value }}</div>
                <div><label>Time:</label>&nbsp;&nbsp;{% render_field appointment_form.appointment_time type="time" %}</div>
                <p></p>
                <div><p><label>Notes:</label></p></div>
                <div class="appointment-textarea">{{ appointment_form.notes }}</div>
            </div>
            <br>
            <div class="add-form-button">
                <button type="submit" name="edit-appointment" id="save-appointment-button">Save</button>
                <button type="submit" name="delete-appointment" id="delete-appointment-button" onclick="return confirm('Are you sure you want to delete this appointment?');">Delete</button>
            </div>
          </form>
        {% endfor %}
      </div>
      <div class="tab-pane fade" id="nav-odontogram" role="tabpanel" aria-labelledby="nav-odontogram-tab">
          <form id="odontogram-form" action="" method="POST">
            {% csrf_token %}
            <img src="{% static 'images/odontogram.png' %}" id="odontogram" alt="odontogram">
          </form>
      </div>
      <div class="tab-pane fade" id="nav-periodontogram" role="tabpanel" aria-labelledby="nav-periodontogram-tab">
          <form id="periodontogram-form" action="" method="POST">
            {% csrf_token %}
            <img src="{% static 'images/periodontogram.png' %}" id="periodontogram" alt="periodontogram">
          </form>
      </div>
      <div class="tab-pane fade" id="nav-treatment-plan" role="tabpanel" aria-labelledby="nav-treatment-plan-tab">
          {% for treatment_plan_form in treatment_plan_form_list %}
          <form id="treatment-plan-form" action="" method="POST">
            {% csrf_token %}
            <div id="treatment-plan-list">
                <input type='hidden' value='{{ treatment_plan_form.auto_id }}' name='id'>
                <div>
                    <label>Description:</label>&nbsp;&nbsp;{{ treatment_plan_form.treatment_plan_description }}
                    <button type="button" id="financial-button" class="save-button" data-bs-toggle="modal" data-bs-target="#modal_{{ treatment_plan_form.auto_id }}">Financial</button>
                </div>
                <p></p>
                <div>
                    <label>Total Cost:</label>&nbsp;&nbsp;&nbsp;&nbsp;{{ treatment_plan_form.total_cost }} €
                </div>
                <p></p>
                <div>
                    <label>Start Date:</label>&nbsp;&nbsp;&nbsp;&nbsp;{% render_field treatment_plan_form.treatment_plan_start_date type="date" placeholder="dd/mm/yyyy" %}
                    &nbsp;&nbsp;&nbsp;
                    <label>End Date:</label>&nbsp;&nbsp;&nbsp;&nbsp;{% render_field treatment_plan_form.treatment_plan_end_date type="date" placeholder="dd/mm/yyyy" %}
                </div>
                <p></p>
                <div>
                    <p><label>Notes:</label></p>
                </div>
                <div class="treatment-plan-textarea">{{ treatment_plan_form.treatment_plan_notes }}</div>
            </div>
            <div class="add-form-button">
                <button type="submit" name="edit-treatment-plan" id="save-treatment-plan-button">Save</button>
                <button type="submit" name="delete-treatment-plan" id="delete-treatment-plan-button" onclick="return confirm('Are you sure you want to delete this treatment plan?');">Delete</button>
            </div>
          </form>
          <div class="modal fade" id="modal_{{ treatment_plan_form.auto_id }}" tabindex="-1" aria-labelledby="newAppointmentModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form class="appointments-form" action="" method="POST">
                      {% csrf_token %}
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="financialModalLabel">Financial Transactions</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <table id="financial-table">
                            <thead>
                                <tr>
                                    <th id="transaction-id">Transaction ID</th>
                                    <th id="transaction-header">Transaction Amount</th>
                                    <th id="transaction-date-header">Transaction Date</th>
                                </tr>
                            </thead>
                            {% for treatment_plan_id in financial_form_lists %}
                            {% if treatment_plan_id == treatment_plan_form.auto_id %}
                            {% for financial_form in financial_form_lists|get_item:treatment_plan_id %}

                            <tr>
                                <td> {{ financial_form.auto_id }} </td>
                                <td> {{ financial_form.transaction_amount }} € </td>
                                <td> {% render_field financial_form.transaction_date type="date" placeholder="dd/mm/yyyy" %} </td>
                            </tr>

                            {% endfor %}
                            {% endif %}
                            {% endfor %}
                        </table>
                        <div id="treatment_plan_balance">
                            {% if treatment_plan_form.treatment_plan_balance.value %}
                            Balance: {{ treatment_plan_form.treatment_plan_balance.value }} €
                            {% else %}
                            Balance: 0.0 €
                            {% endif %}
                        </div>
                        <hr>
                        <div>
                            <h5>Add new transaction</h5>
                            <input type='hidden' value='{{ treatment_plan_form.auto_id }}' name='id'>
                            <div><label>Date:</label>&nbsp;&nbsp;{% render_field financial_form.transaction_date type="date" placeholder="dd/mm/yyyy" %}</div>
                            <p></p>
                            <div><label>Amount:</label>&nbsp;&nbsp;{% render_field financial_form.transaction_amount %}</div>
                        </div>
                        <br>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" name="clear-financial">Close</button>
                            <button type="submit" id="financial-modal-save-button" class="btn btn-primary" name="save-financial">Save</button>
                        </div>
                      </div>
                  </form>
                </div>
               </div>
           </div>
          {% endfor %}
      </div>
      <div class="tab-pane fade" id="nav-financial" role="tabpanel" aria-labelledby="nav-financial-tab">
          <form id="financial-form" action="" method="POST">
            {% csrf_token %}

          </form>
      </div>
      <div class="tab-pane fade" id="nav-datafiles" role="tabpanel" aria-labelledby="nav-datafiles-tab">
          <form id="datafiles-form" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table id="datafile-table">
                <thead>
                    <tr>
                        <th id="file-name-header">File Name</th>
                        <th id="file-date-header">Created</th>
                        <th id="file-size-header">Size</th>
                    </tr>
                </thead>
                {% for file in datafiles %}
                <tr>
                    <td> <a href="{% static 'patient_data/' %}{{ file.path }}" target="_blank">{{ file.filename }}</a> </td>
                    <td> {{ file.created }} </td>
                    <td> {{ file.size }} MB</td>
                </tr>
                {% endfor %}
            </table>
            <div id="upload-form">
                <label id="upload-form-label">Select files:</label>
                <br>
                <input type="file" name="files" id="upload-file-search" multiple>
                <input type="submit" name="file-upload" value="Upload">
            </div>
          </form>
      </div>
    </div>

{% endblock %}