{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Edit Patient
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'patient_management/styles.css' %}">
{% endblock %}

{% block content %}

    <nav id="patient-detail-tabs">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-general-info-tab" data-bs-toggle="tab" data-bs-target="#nav-general-info" type="button" role="tab" aria-controls="nav-general-info" aria-selected="true">General Info</button>
        <button class="nav-link" id="nav-edit-info-tab" data-bs-toggle="tab" data-bs-target="#nav-edit-info" type="button" role="tab" aria-controls="nav-edit-info" aria-selected="true">Edit Info</button>
        <button class="nav-link" id="nav-medical-tab" data-bs-toggle="tab" data-bs-target="#nav-medical" type="button" role="tab" aria-controls="nav-medical" aria-selected="false">Medical History</button>
        <button class="nav-link" id="nav-dental-tab" data-bs-toggle="tab" data-bs-target="#nav-dental" type="button" role="tab" aria-controls="nav-dental" aria-selected="false">Dental History</button>
        <button class="nav-link" id="nav-appointments-tab" data-bs-toggle="tab" data-bs-target="#nav-appointments" type="button" role="tab" aria-controls="nav-appointments" aria-selected="false">Appointments</button>
        <button class="nav-link" id="nav-odontogram-tab" data-bs-toggle="tab" data-bs-target="#nav-odontogram" type="button" role="tab" aria-controls="nav-odontogram" aria-selected="false">Odontogram</button>
        <button class="nav-link" id="nav-periodontogram-tab" data-bs-toggle="tab" data-bs-target="#nav-periodontogram" type="button" role="tab" aria-controls="nav-periodontogram" aria-selected="false">Periodontogram</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-general-info" role="tabpanel" aria-labelledby="nav-general-info-tab">
        <form class="edit-patient-form" action="" method="POST">
            {% csrf_token %}
            <div class="grid-container">
                <div class="grid-item"><p><label>Last Name:</label></p></div>
                <div class="grid-item"><p>{{ patient.last_name }}</p></div>
                <div class="grid-item"><p><label>First Name:</label></p></div>
                <div class="grid-item"><p>{{ patient.first_name }}</p></div>
                <div class="grid-item"><p><label>Address:</label></p></div>
                <div class="grid-item"><p>{{ patient.address }}</p></div>
                <div class="grid-item"><p><label>Email:</label></p></div>
                <div class="grid-item"><p>{{ patient.email }}</p></div>
                <div class="grid-item"><p><label>Phone:</label></p></div>
                <div class="grid-item"><p>{{ patient.phone }}</p></div>
                <div class="grid-item"><p><label>Mobile phone:</label></p></div>
                <div class="grid-item"><p>{{ patient.mobile_phone }}</p></div>
                <div class="grid-item"><p><label>AMKA:</label></p></div>
                <div class="grid-item"><p>{{ patient.amka }}</p></div>
                <div class="grid-item"><p><label>Date of Birth:</label></p></div>
                <div class="grid-item" id="date-of-birth-general"><p>{{ patient.date_of_birth }}</p></div>
            </div>
            <br>
            <div class="add-form-button">
                <button type="button" id="new-appointment-button" class="save-button" data-bs-toggle="modal" data-bs-target="#newAppointmentModal">
                  New Appointment
                </button>
            </div>
        </form>
      </div>
      <div class="modal fade" id="newAppointmentModal" tabindex="-1" aria-labelledby="newAppointmentModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <form class="appointments-form" action="" method="POST">
                  {% csrf_token %}
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="newAppointmentModalLabel">Add New Appointment</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div>
                        <div><label>Date:</label></div>
                        <div><p>{% render_field appointment_form.appointment_date type="date" placeholder="dd/mm/yyyy" %}</p></div>
                        <div><p><label>Header:</label></p></div>
                        <div>{{ appointment_form.appointment_header }}</div>
                        <br>
                        <div><p><label>Notes:</label></p></div>
                        <div class="appointment-textarea">{{ appointment_form.notes }}</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" name="clear-appointment">Close</button>
                        <button type="submit" id="modal-save-button" class="btn btn-primary" name="save-appointment">Save</button>
                    </div>
                  </div>
              </form>
            </div>
          </div>
      </div>
      <div class="tab-pane fade" id="nav-edit-info" role="tabpanel" aria-labelledby="nav-edit-info-tab">
          <form class="edit-patient-form" action="" method="POST">
            {% csrf_token %}
            <div class="grid-container">
                <div class="grid-item"><p><label>Last Name:</label></p></div>
                <div class="grid-item"><p>{{ form.last_name }}</p></div>
                <div class="grid-item"><p><label>First Name:</label></p></div>
                <div class="grid-item"><p>{{ form.first_name }}</p></div>
                <div class="grid-item"><p><label>Address:</label></p></div>
                <div class="grid-item"><p>{{ form.address }}</p></div>
                <div class="grid-item"><p><label>Email:</label></p></div>
                <div class="grid-item"><p>{{ form.email }}</p></div>
                <div class="grid-item"><p><label>Phone:</label></p></div>
                <div class="grid-item"><p>{{ form.phone }}</p></div>
                <div class="grid-item"><p><label>Mobile phone:</label></p></div>
                <div class="grid-item"><p>{{ form.mobile_phone }}</p></div>
                <div class="grid-item"><p><label>AMKA:</label></p></div>
                <div class="grid-item"><p>{{ form.amka }}</p></div>
                <div class="grid-item"><p><label>Date of Birth:</label></p></div>
                <div class="grid-item" id="date-of-birth-edit"><p>{% render_field form.date_of_birth type="date" placeholder="dd/mm/yyyy" %}</p></div>
                <div class="grid-item"><p><label>Notes:</label></p></div>
                <div class="grid-item"><p>{{ form.notes }}</p></div>
            </div>
            <br>
            <div class="add-form-button">
                <button type="submit" name="save" class="save-button">Save</button>
                <button type="submit" name="delete" class="delete-button">Delete</button>
            </div>
          </form>
      </div>
      <div class="tab-pane fade" id="nav-medical" role="tabpanel" aria-labelledby="nav-medical-tab">
          <form id="edit-patient-medical-form" action="" method="POST">
            {% csrf_token %}
            <table id="medical-history-table">
                <tbody>
                  {{ medical_form.as_table }}
                </tbody>
            </table>
            <br>
            <br>
            <br>
            <div class="add-form-button">
                <button type="submit" name="save-medical" class="save-button">Save</button>
                <button type="submit" name="clear-medical" class="reset-button">Reset</button>
            </div>
          </form>
      </div>
      <div class="tab-pane fade" id="nav-dental" role="tabpanel" aria-labelledby="nav-dental-tab">
          <form id="edit-patient-dental-form" action="" method="POST">
            {% csrf_token %}
            <table id="dental-history-table">
              <tbody>
                {{ dental_form.as_table }}
              </tbody>
            </table>
            <br>
            <br>
            <br>
            <div class="add-form-button">
                <button type="submit" name="save-dental" class="save-button">Save</button>
                <button type="submit" name="clear-dental" class="reset-button">Reset</button>
            </div>
          </form>
      </div>
      <div class="tab-pane fade" id="nav-appointments" role="tabpanel" aria-labelledby="nav-appointments-tab">
        {% for appointment_form in appointments_form_list %}
          <form id="appointment-form" action="" method="POST">
            {% csrf_token %}
            <div id="appointment-list">
                <input type='hidden' value='{{ appointment_form.auto_id }}' name='id'>
                <div><label>Date:</label></div>
                <div><p>{{ appointment_form.appointment_date.value }}</p></div>
                <div><p><label>Notes:</label></p></div>
                <div class="appointment-textarea">{{ appointment_form.notes }}</div>
            </div>
            <br>
            <div class="add-form-button">
                <button type="submit" name="edit-appointment" id="save-appointment-button">Save</button>
            </div>
          </form>
        {% endfor %}
      </div>
      <div class="tab-pane fade" id="nav-odontogram" role="tabpanel" aria-labelledby="nav-odontogram-tab">
          <form id="odontogram-form" action="" method="POST">
            {% csrf_token %}
            <img src="{% static 'images/odontogram.png' %}" id="odontogram" alt="odontogram">
          </form>
      </div>
      <div class="tab-pane fade" id="nav-periodontogram" role="tabpanel" aria-labelledby="nav-periodontogram-tab">
          <form id="periodontogram-form" action="" method="POST">
            {% csrf_token %}
            <img src="{% static 'images/periodontogram.png' %}" id="periodontogram" alt="periodontogram">
          </form>
      </div>
    </div>

{% endblock %}