{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Edit Patient
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'patient_management/styles.css' %}">
{% endblock %}

{% block content %}

    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">General Info</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Medical History</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Dental History</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <form class="edit-patient-form" action="" method="POST">
            {% csrf_token %}
            <div class="grid-container">
                <div class="grid-item"><p><label for="id_last_name">Last Name:</label></p></div>
                <div class="grid-item"><p>{{ form.last_name }}</p></div>
                <div class="grid-item"><p><label for="id_first_name">First Name:</label></p></div>
                <div class="grid-item"><p>{{ form.first_name }}</p></div>
                <div class="grid-item"><p><label for="id_address">Address:</label></p></div>
                <div class="grid-item"><p>{{ form.address }}</p></div>
                <div class="grid-item"><p><label for="id_email">Email:</label></p></div>
                <div class="grid-item"><p>{{ form.email }}</p></div>
                <div class="grid-item"><p><label for="id_phone">Phone:</label></p></div>
                <div class="grid-item"><p>{{ form.phone }}</p></div>
                <div class="grid-item"><p><label for="id_last_name">Mobile phone:</label></p></div>
                <div class="grid-item"><p>{{ form.mobile_phone }}</p></div>
                <div class="grid-item"><p><label for="id_amka">AMKA:</label></p></div>
                <div class="grid-item"><p>{{ form.amka }}</p></div>
                <div class="grid-item"><p><label for="id_date_of_birth">Date of Birth:</label></p></div>
                <div class="grid-item" id="date-of-birth"><p>{% render_field form.date_of_birth type="date" placeholder="dd/mm/yyyy" %}</p></div>
                <div class="grid-item"><p><label for="id_notes">Notes:</label></p></div>
                <div class="grid-item"><p>{{ form.notes }}</p></div>
            </div>
            <br>
            <div class="add-form-buttons">
                <button type="submit" name="save" class="save-button">Save</button>
                <button type="submit" name="delete" class="delete-button">Delete</button>
            </div>
          </form>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <form id="edit-patient-medical-form" action="" method="POST">
            {% csrf_token %}
            <table id="medical-history-table">
                <tbody>
                  {{ medical_form.as_table }}
                </tbody>
            </table>
            <br>
            <br>
            <br>
            <div class="add-form-buttons">
                <button type="submit" name="save-medical" class="save-button">Save</button>
                <input type="reset" name="clear-medical" class="reset-button" value="Reset">
            </div>
          </form>
      </div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          <form id="edit-patient-dental-form" action="" method="POST">
              {% csrf_token %}
              <table id="dental-history-table">
                <tbody>
                  {{ dental_form.as_table }}
                </tbody>
            </table>
            <br>
            <br>
            <br>
            <div class="add-form-buttons">
                <button type="submit" name="save-dental" class="save-button">Save</button>
                <input type="reset" name="clear-dental" class="reset-button" value="Reset">
            </div>
          </form>
      </div>
    </div>

{% endblock %}