{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'app.css' %}">
  <link rel="shortcut icon" href="#">
  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% bootstrap_messages %}
  {% block css_files %}{% endblock %}
  {% block js_files %}{% endblock %}
</head>
<body>

  {% if '/main/' in request.path and user.is_authenticated or '/add-patient/' in request.path and user.is_authenticated or '/patient-details/' in request.path and user.is_authenticated or '/calendar/' in request.path and user.is_authenticated %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <img src="{% static 'images/logo.png' %}" id="logo" alt="logo">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <button class="btn btn-outline-primary" type="submit" name="main" onclick="location.href='{% url 'main' %}'">Patient List</button>
              </li>
              <li class="nav-item">
                <button class="btn btn-outline-primary" type="submit" name="add-new-patient" onclick="location.href='{% url 'add-patient' %}'">Add Patient</button>
              </li>
              <li class="nav-item">
                <button class="btn btn-outline-primary" type="submit" name="calendar" onclick="location.href='{% url 'calendar' %}'">Calendar</button>
              </li>
              <li class="nav-item">
                <button class="btn btn-outline-primary" type="submit" name="backup" onclick="location.href='{% url 'backup' %}'">Backup</button>
              </li>
              <li class="nav-item">
                <button class="btn btn-outline-primary" type="submit" name="logout" onclick="location.href='{% url 'logout' %}'">Logout</button>
              </li>
            </ul>
            {% if not '/add-patient/' in request.path and not '/patient-details/' in request.path and not '/calendar/' in request.path %}
            <form class="d-flex" method="GET">
              <input class="form-control me-2" name="search" type="text" id="search-bar" placeholder="Search patient...">
              <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
            {% endif %}
          </div>
        </div>
    </nav>

  {% endif %}

  {% block content %}
  {% endblock %}

</body>
</html>